
    main {
        width: 695px;
        height: 447px;
        margin: 33px auto auto auto;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.18);
    }
    .main-title {
        height: 58px;
        line-height: 58px;
        text-indent: 2em;
        font-family: PingFangSC-Regular;
        font-size: 18px;
        color: #3E3E3E;
        letter-spacing: 0;
        border-bottom: 3px solid rgba(0,0,0,0.2);
    }
    /* 账户内容 */
    .account-ul {
        margin-left: 47px;
        margin-top: 24px;
        font-family: HiraginoSansGB-W3;
        font-size: 14px;
        color: #222629;
        letter-spacing: 0;
    }
    input,button {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #222629;
        letter-spacing: 0;
        border-radius: 3px;
    }
    #file-img {
        position: absolute;
        left: -10000px;
    }
    .img-div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(0,0,0,0.2);
    }
    .img-div span {
        color: #fff;
        cursor: pointer;
        font-size: 10px;
        margin-left: 3px;
    }
    .account-text {
        display: inline-block;
        height: 14px;
        width: 80px;
        text-align: right;
        margin-right: 18px;
    }
    button {
        cursor: pointer;
        font-size: 14px;
        color: #FFF;
    }
    .headimg-li {
        /* height: 50px; */
        line-height: 50px;
    }
    .username-li,.wecaht-li {
        line-height: 100px;
    }
    .username {
        width: 117px;
        height: 24px;
        text-indent: 1em;
        border: 1px solid rgba(34,38,41,0.2);
    }
    .modify-pic {
        width: 15.8px;
        height: 14.9px;
        margin-top: -2px;
        margin-left: 20px;
    }
    .wechat-btn,.modify {
        width: 61px;
        height: 24px;
        background: #5944C3;
        border-radius: 3px 3px 0 3px 3px;
    }
    .modify {
        width: 100px;
        height: 30px;
        margin-top: 20px;
        margin-left: 140px;
    }
    /* 二维码 */
    .bg-div {
        width: 100%;
        min-width: 1440px;
        height: 1066px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.35);
    }
    .wechat-div {
        width: 304px;
        height: 369px;
        background: #ffffff;
        margin: 268px auto auto auto;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #3E3E3E;
        letter-spacing: 0;
        text-align: center;
    }
    .wechat-div span {
        display: inline-block;
        margin-top: 44px;
        margin-bottom: 32px;
    }
    .wechat {
        width: 218px;
        height: 218px;
        margin: auto;
        background: #d8d8d8;
    }
    .wechat img {
        width: 218px;
        height: 218px;
    }