

.find-box {
    width: 753px;
    height: 465px;
}
.find-box .step-ul {
    margin-top: 38px;
    width: 579px;
}
.step {
    width: 193px;
    height: 2px;
    color: rgba(62,62,62,0.7);
    font-family: HiraginoSansGB-W6;
    font-size: 14px;
    background: #c6c6c6;
    position: relative;
}
.step>div {
    position: absolute;
    top: -10px;
    left: 69px;
}
.step-active {
    background: #5944c3;
    color: #5944c3;
}
.step .step-num-active {
    background: #5944c3;
}
.step-num {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    background: #c6c6c6;
    color: #fff;
    margin-top: -10px;
}
.step-text {
    margin-top: 13px;
}
.find-box .identity-ul {
    margin-top: 82px;
}
.find-box .reset-ul {
    margin-top: 105px;
}