
/* 中心部分开始 */
.find-password span,.ball {
    font-family: HiraginoSansGB-W3;
    font-size: 18px;
    color: #3E3E3E;
    letter-spacing: 0;
    
}
.find-password {
    width: 753px;
    height: 465px;
    margin:0 auto;
    background: #fff;
    text-align: center;
    padding-top: 36px;
}
    /* 过程 */
    .find-process,.find-process2,.find-process3 {
        width: 566px;
        height: 3px;
        position: relative;
        background: rgba(0,0,0,0.15);
        margin:38px  auto 43px auto;
    }
    .blueline,.blueline2,.blueline3 {
        display: inline-block;
        width: 193px;
        height: 3px;
        background: #5944C3;
    }
    .blueline2 {
        width: 385px;
    }
    .blueline3 {
        width: 566px;
    }
    .ball {
        display: inline-block;
        width: 28px;
        height: 28px;
        background:  #C6C6C6;
        border-radius: 50%;
        color: #fff;
        line-height: 28px;
    }
    .find-process span,.find-process2 span,.find-process3 span {
        color: rgba(62,62,62,0.7);
        display: block;
        margin-top: 13px;
        font-size: 14px;
    } 
    .process1 .ball {
        background: #5944C3;
    }
    .process1 span,
    .find-process2 .process2 span,
    .find-process3 .process3 span {
        font-family: HiraginoSansGB-W6;
        color:#5944C3; 
    }
    .find-process2 .process2 .ball,
    .find-process3 .process3 .ball {
        background: #5944C3;
    }
    .process1,.process2,.process3 {
        position: absolute;
        width: 57px;
        text-align: center;
    }
    .process1 {
        left: 82.5px;
        top: -13px;
    }
    .process2 {
        top: -13px;
        left: 271.5px;
    }
    .process3 {
        top: -13px;
        left: 466.5px;
    }
    .phone,.reset-password {
        margin-top: 43px;
    }
     
    /* 重置密码开始 */
    .pwd-reset {
        margin-top: 93px;
    }
    /* 重置密码结束 */
/* 中心部分结束 */