/* 表头start */
    .logo {
        display: inline-block;
        height: 33px;
        line-height: 30px;
        margin-top: 70px;
        margin-left: 215px;
        font-family: PingFangSC-Regular;
        font-size: 24px;
        color: #5944C3;
        letter-spacing: 0;
    }
    .logo-pic img {
        width: 76.8px;
        height: 25px;
    }
    .logo-line {
        display: inline-block;
        margin-left: 19.2px;
        margin-right: 17px;
    }

/* 表头end */
/* 主体部分start */
    main {
        width: 100%;
        height: 597px;
        background: url(../img/bg_sign.png) no-repeat;
        background-size: 100% 597px;
        margin-top: 34px;
        margin-bottom: 79px;
        position: relative;
    }
    .box {
        background: #fff;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-family: HiraginoSansGB-W3;
        font-size: 18px;
        color: #3E3E3E;
        letter-spacing: 0;
    }
    .box-title {
        display: inline-block;
        margin: 33px auto;
    }
    .box>ul {
        width: 380px;
        margin: auto;
    }
    button, input {
        width: 379px;
        height: 40px;
        font-size: 14px;
        border-radius: 3px;
    }
    input {
        color: rgba(62,62,62,0.7);
        border: 1px solid rgba(0,0,0,0.2);
        text-indent: 1em;
    }
    input:focus {
        border: 1px solid #5944C3;
    }
    .graphics-input {
        width: 262px;
    }
    .graphics-div,.seecode-btn,.code-btn {
        width: 105px;
    }
    .graphics-div {
        height: 40px;
        background: #D8D8D8;
        cursor: pointer;
    }
    .code-input {
        width: 146px;
    }
    .seecode-btn {
        margin-left: 11px;
    }
    button {
        color: #fff;
        cursor: pointer;
        background: rgba(0,0,0,0.35);
    }
    .other-div {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 14px;
        height: 74px;
        line-height: 74px;
        /* margin-top: 25px; */
        border-top: 3px solid rgba(0,0,0,0.1);
    }
    .other-div>div {
        width: 379px;
        margin: 0 auto;
    }
    .other-div button{
        width: 75px;
        height: 30px;
        background: #5944C3;
    }
    .error {
        height: 20px;
        width: 379px;
        color: red;
        font-size: 14px;
        text-align: left;
        text-indent: 1em;
    }
/* 主体部分end */
/* 表尾start */
    footer {
        font-size: 13px;
        margin-top: 79px;
        margin-bottom: 201px;
        text-align: center;
    }
/* 表尾end */
