
main {
    width: 1015px;
    margin: 0 auto;
    margin-top: 32px;
}
/* 导航栏 */
    .order-nav {
        height: 46px;
        font-family: HiraginoSansGB-W3;
        font-size: 16px;
        color: #3E3E3E;
        letter-spacing: 0;
        background: #F1F1F1;
        border-bottom: 2px solid #5944C3;
    }
    .order-nav li {
        display: inline-block;
        height: 46px;
        width: 106px;
        line-height: 46px;
        text-align: center;
        cursor: pointer;
    }
   
/* 查询 */
    .search {
        line-height: 78px;
    }
    .search>li {
        display: inline-block;
        font-family: HiraginoSansGB-W3;
        font-size: 14px;
        color: #3E3E3E;
        letter-spacing: 0;
    }
    .search>li>span {
        padding-right: 10px;
        margin-left: 40px;
    }
    .search .order-num span {
        margin-left: 0;
    }
    .order-num-input,.passenger-input {
        width: 158px;
        height: 34px;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 3px;
    }
    .time_input {
        height: 34px;
        width: 250px;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 3px;
    }
    .select-datatime input {
        background: url(../img/icon_day.png) no-repeat #FFFFFF;
        background-position: 225px;
        cursor: pointer;
    }
    input {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: rgba(62,62,62,0.7);
        letter-spacing: 0;
        text-indent: 4px;
    }
    .search-btn {
        width: 62px;
        height: 34px;
        color: #3E3E3E;
        background: #F1F1F1;
        border-radius: 3px;
    }

/* 订单列表 */
   /* 标题 */
    .order-list-title-nav {
        height: 36px;
        width: 1012px;
        background: #F1F1F1;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        line-height: 36px;
        text-align: center;
        color: #3E3E3E;
        letter-spacing: 0;
    }
    .order-list-title-nav li {
        display: inline-block;
        text-align: center;
        /* margin-left: 40px; */
    }
    .nav-order-num-text {
        width: 160px;
    }
    .nav-order-name {
        width: 160px;
    }
    .nav-order-create-time {
        width: 130px;
    }
    .nav-order-passanger {
        width: 100px;
    }
    .nav-order-allprice {
        width: 100px;
    }
    .nav-order-state {
        width: 110px;
    }
    .nav-order-operation {
        width: 170px;
    }
   /* 内容 */
    .order-list-content-div {
        width: 1012px;
    }
    .order {
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    .order li {
        display: inline-block;
        text-align: center;
        font-size: 14px;
        text-align: center;
        color: #3E3E3E;
        letter-spacing: 0;
        vertical-align: top;
    }
    .nav-order-name span {
        display: block;
        line-height: 22px;
        
    }
  
    .order .nav-order-name {
        padding-top: 10px;
    }
    .other-operation {
        margin-left: 18px;
    }
    .nav-order-operation span {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #5944C3;
        letter-spacing: 0;
        cursor: pointer;
    }
    .nav-order-name .hotel-name {
        width: 160px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .order-error li {
        width: 1012px;
        margin-top: 40px;
        text-align: center;
        font-size: 20px;
        /* color: red; */
       
    }
/* 分页 */
    .paging {
        margin-top: 289px;
        
    }

    footer {
        margin-top: 118px;
    }

/* active */
.order-nav-active,.search-btn-active {
    background: #5944C3;
    color: #fff;
}    